<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <property name="GRAYLOG_HOST" value="${GRAYLOG_HOST:-efp8.sm-soft.ru}"/>
    <property name="GRAYLOG_PORT" value="${GRAYLOG_PORT:-12201}"/>
    <property name="GRAYLOG_ENABLED" value="${GRAYLOG_ENABLED:-true}"/>
    <property name="GRAYLOG_ARTIFACT_NAME" value="${GRAYLOG_ARTIFACT_NAME:-openshift-template}"/>
    <property name="SENTRY_ENABLED" value="${SENTRY_ENABLED:-false}"/>
    <appender name="GELF" class="de.siegmar.logbackgelf.GelfUdpAppender">
        <graylogHost>${GRAYLOG_HOST}</graylogHost>
        <graylogPort>${GRAYLOG_PORT}</graylogPort>
        <encoder class="de.siegmar.logbackgelf.GelfEncoder">
            <includeRawMessage>false</includeRawMessage>
            <includeMarker>true</includeMarker>
            <includeMdcData>true</includeMdcData>
            <includeCallerData>true</includeCallerData>
            <includeRootCauseData>true</includeRootCauseData>
            <includeLevelName>true</includeLevelName>
            <shortPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%nopex</pattern>
            </shortPatternLayout>
            <fullPatternLayout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%m%n</pattern>
            </fullPatternLayout>
            <staticField>app_name:${GRAYLOG_ARTIFACT_NAME}</staticField>
        </encoder>
    </appender>
    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <if condition='${GRAYLOG_ENABLED}'>
        <then>
            <root level="${GRAYLOG_LOG_LEVEL:-INFO}">
                <appender-ref ref="GELF"/>
                <appender-ref ref="CONSOLE"/>
            </root>
        </then>
    </if>
    <if condition='${SENTRY_ENABLED}'>
        <then>
            <root level="${SENTRY_LOG_LEVEL:-WARN}">
                <appender-ref ref="Sentry"/>
            </root>
        </then>
    </if>
</configuration>
